.EmployeeHeroSection{
    margin-top: 18px;
    height: auto;
    border-bottom: 1px solid #B7C6DB;
    padding: 24px;
}

.heroContent {
    display: flex;
    flex-direction: row;
    gap: 0;
    max-width: 100%; 
    flex-wrap: wrap; 
}

.infoBlock {
    margin-left: 19px;
    width: 340px;
    flex: 0 0 auto;
    margin-bottom: 20px; 
}

.documentsBlock {
    margin-left: 15px;
    width: 350px;
    flex: 0 0 auto;
    margin-bottom: 20px; 
}

.careerBlock {
    margin-left: 20px;
    width: 350px;
    flex: 0 0 auto;
    margin-bottom: 20px; 
}

