.sidebar {
    width: 320px;
    min-width: 320px; /* Фиксированная минимальная ширина */
    height: 100vh;
    color: white;
    position: relative;
    overflow-y: auto; /* Добавляем вертикальную прокрутку при необходимости */
    overflow-x: hidden; /* Предотвращаем горизонтальную прокрутку */
  }
  
  .divider {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #DBE5F2;
  }
  
  .topContainer {
    display: flex;
    align-items: center;
    padding-top: 30px;
    position: relative;
    width: 100%;
    flex-direction: column;
  }
  
  .logo {
    width: 200px;
    height: 30px;
    padding-left: 25px;
    align-self: flex-start;
  }
  
  .backBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 30px;
  }

  .searchContainer {
    display: flex;
    align-items: center;
    width: 270px;
    height: 40px;
    margin-top: 30px;
    position: relative;
  }

  .searchIconWrapper {
    position: absolute;
    left: 16px;
    display: flex;
    align-items: center;
  }

  .searchInput {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    font-size: 16px;
    color: #A1A7C4;
    border: 1px solid #D9E1EC;
    border-radius: 4px;
    outline: none;
  }

  .searchInput::placeholder {
    color: #A1A7C4;
  }
  
  .searchInput:focus {
    border: 1px solid #D9E1EC;
    outline: none;
  }
  
  .searchInput:active {
    border: 1px solid #D9E1EC;
  }

  .navigation{
    padding-top: 30px;
    padding-left: 25px;
    /* From Figma specs */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 270px;
    height: auto;
  }
  
  .navList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .navItem {
    margin-bottom: 0;
    display: block;
  }
  
  .navItem.block-end {
    margin-bottom: 10px;
  }
  
  .navItem.main-item {
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  
  .mainItem {
    font-size: 16px;
    color: #5B6283;
    font-weight: 400;
    display: block;
  }
  
  .subItem {
    font-size: 14px;
    color: #5B6283;
    opacity: 50%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
  }
  
  .deep {
    padding-left: 20px;
    color: #5B6283;
    opacity: 50%;
  }
  
  .active {
    color: #5B6283;
    font-weight: 400;
  }
  
  .indicator {
    width: 8px;
    height: 8px;
    background-color: #F57F29;
    border-radius: 50%;
    margin-left: 10px;
  }