
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
  
li {
    list-style-type: none;
}

body {
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.min-h-screen {
    min-height: 100vh;
}

.flex-1 {
    flex: 1;
    min-width: 0; /* Предотвращает выход контента за пределы контейнера */
    overflow-x: hidden; /* Предотвращает горизонтальную прокрутку */
}